.bgcolor {
  background-color: #222831;
  color: #e3fdfd;
}

.resume-link {
  border-radius: 10px;
  /* padding: 5px; */
  border: 1px #e3fdfd solid;
}

.resume-link:hover {
  cursor: pointer;
}
