@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap");

.project-list {
  background-color: #222831;
  color: #e3fdfd;
  height: 85vh;
  min-width: 78vw;
}

.project-list-body {
  width: 100%;
  /* margin: 0 auto 0 auto; */
}

.card.single-card {
  color: #222831;
  background-color: #e3fdfd;
}

.quote-text {
  font-family: "Fira Sans", sans-serif;
}
