<div
  class="btn-group"
  role="group"
  aria-label="Basic checkbox toggle button group"
>
  <div class="ms-2" *ngFor="let cad of academicsData.data">
    <input
      type="checkbox"
      class="btn-check"
      [id]="'btncheck' + cad.id"
      [checked]="isChecked(cad.id)"
      (change)="onCheckboxChange(cad.id)"
      autocomplete="off"
    />
    <label
      class="btn btn-outline-dark btn-selected"
      [for]="'btncheck' + cad.id"
    >
      {{ cad.name }}
    </label>
  </div>
</div>

<div class="academic-body" *ngIf="this.selectedCheckbox !== null">
  <div class="alert mt-3" role="alert">
    <h3 class="alert-heading">{{ currenrAcademicsData.name }}</h3>
    <p>
      <strong
        ><em>{{ currenrAcademicsData.university }}</em></strong
      >
    </p>
    <hr />
    <div class="description">
      <p><strong>Description:</strong></p>
      <p class="mb-0 ms-5">
        {{ currenrAcademicsData.description }}
      </p>
    </div>

    <div class="skills">
      <hr />
      <p>
        <strong>Skills:</strong> {{ currenrAcademicsData.skills.join(" | ") }}
      </p>
    </div>
  </div>
</div>
