<div class="container homepage overflow-hidden">
  <div class="home-content">
    <div class="row mt-5 mb-5">
      <div class="text-center">
        <h1 class="fw-bold fst-italic">Hello, I'm Abhijit!</h1>
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-md-4 mb-3">
        <!-- PROFILE CARD  -->
        <a routerLink="/profile">
          <div
            class="card bg-profile bg-home d-flex flex-column"
            style="height: 15rem"
          >
            <div class="mt-auto p-2">
              <h4 class="primary-text">PROFILE</h4>
            </div>
          </div>
        </a>
        <!-- PROFILE CARD  -->
      </div>
      <div class="col-md-4 mb-3">
        <!-- PROJECT CARD  -->
        <a routerLink="/projects">
          <div
            class="card bg-project bg-home d-flex flex-column"
            style="height: 15rem"
          >
            <div class="mt-auto p-2">
              <h4 class="primary-text">PROJECTS</h4>
            </div>
          </div>
        </a>
        <!-- PROJECT CARD  -->
      </div>
      <div class="col-md-4 mb-3">
        <!-- WRITE-UPS CARD  -->
        <a routerLink="/writeups">
          <div
            class="card bg-write-ups bg-home d-flex flex-column"
            style="height: 15rem"
          >
            <div class="mt-auto p-2">
              <h4 class="primary-text">WRITE-UPS</h4>
            </div>
          </div>
        </a>
        <!-- WRITE-UPS CARD  -->
      </div>
    </div>
  </div>
</div>
